<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Comércio App</a>
  </div>
  <ul class="navbar-nav">
    <li><a routerLink="/clientes" routerLinkActive="active">Clientes</a></li>
    <li><a routerLink="/produtos" routerLinkActive="active">Produtos</a></li>
    <li><a routerLink="/vendas" routerLinkActive="active">Vendas</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Cadastros</a>
      <div class="dropdown-content">
        <a routerLink="/marcas" routerLinkActive="active">Marcas</a>
        <a routerLink="/tipos" routerLinkActive="active">Tipos</a>
        <a routerLink="/ufs" routerLinkActive="active">UFs</a>
        <a routerLink="/cidades" routerLinkActive="active">Cidades</a>
        <a routerLink="/bairros" routerLinkActive="active">Bairros</a>
        <a routerLink="/ceps" routerLinkActive="active">CEPs</a>
        <a routerLink="/ruas" routerLinkActive="active">Ruas</a>
        <a routerLink="/sexos" routerLinkActive="active">Sexos</a>
      </div>
    </li>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
